PORT=3010

RMU_MONGO_USERS_URI=mongodb://admin:admin@localhost:27017/rmu-users?authSource=admin

RMU_IAM_JWKS_URI=http://localhost:8090/realms/rmu/protocol/openid-connect/certs
RMU_IAM_ADMIN_BASE_URL=http://localhost:8090/admin/realms/rmu
RMU_IAM_TOKEN_URI=http://localhost:8090/realms/rmu/protocol/openid-connect/token
RMU_IAM_CLIENT_ID=rmu-client
RMU_IAM_CLIENT_SECRET=changeit

RMU_KAFKA_CLIENT_ID=rmu-api-users
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-users-consumer
RMU_KAFKA_DEFAULT_PARTITIONS=1
RMU_KAFKA_BROKERS=localhost:9092
